.banner-slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.banner-container {
  position: relative;
  width: 100%;
  height: 500px; 
}

.banner-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-slide.active {
  opacity: 1;
}

.banner-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.banner-content {
  position: relative;
  z-index: 1;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.banner-indicators {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 2;
}

.indicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.indicator.active {
  background-color: #6f9a37;
}

.welcome {
  font-size: 20px;
  color: #ff7b00;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.chicago {
  font-size: 80px;
  color: #fff;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  line-height: 1;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
}
.banner-button {
  background-color: #ff6200;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 0px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-top: 30px;
}

/* Corner Images Styles */
.corner-image {
  position: absolute;
  width: 160px;
  height: 150px;
  z-index: 2;
  animation: float 4s ease-in-out infinite;
}

.corner-image.top-left {
  top: 0;
  left: 0;
  animation-delay: 0s;
}

.corner-image.top-right {
  top: 0;
  right: 0;
  animation-delay: 0.5s;
}

.corner-image.bottom-left {
  bottom: 0;
  left: -12px;
  animation-delay: 1s;
}

.corner-image.bottom-right {
  bottom: 0;
  right: -15px;
  animation-delay: 1.5s;
}

/* Floating animation */
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}
