/* On This Week Section Styles */
.on-this-week-section {
  position: relative;
  padding: 80px 0;
  background-color: white;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  color: white;
  margin-bottom: 50px;
}

.on-this-week-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}







.offer-items-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.offer-item {
  flex: 0 0 calc(33.333% - 30px);
  background: rgba(255, 255, 255, 0.1);
  
  overflow: hidden;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  width: 100%;
  height: 200px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
    background-image: url('images/onthisWeek/bg/offerBG1_1.jpg');
  background-size: cover;
  display: flex;

}

.offer-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4);
}

.offer-image-container {
  position: relative;
  height: 100px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  

}

.offer-image {
  position: relative;
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
  z-index: 2;
  border-radius: 50%;
  margin-top: 150px;
  margin-right: 30px;
}


.offer-decoration {
  position: absolute;
  top: 0;
  left: 20px;
  width: 60px;
  height: 60px;
  z-index: 2;
   margin-top: 30px;
   
  
  
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.offer-details {
  padding: 20px;
  text-align: center;
  
}

.offer-title {
  font-size: 10px;
  font-weight: 700;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  margin: 0 0 10px;
  line-height: 1.2;
  margin-top: 30px;
  letter-spacing: 1px;
}

.offer-description {
  font-size: 20px;
  color: #e0e0e0;
  margin: 0 0 5px;
  line-height: 0.9;
  font-weight: 600;
}

.offer-price {
  font-size: 10px;
  font-weight: 800;
  color: #e6dfdc;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.offer-button {
  background-color: #ff6200;
  color: white;
  border: none;
  padding: 12px 15px;
 
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
 
}

.offer-button:hover {
  background-color: #ff8a00;
}

/* Responsive design */
@media (max-width: 992px) {
  .offer-item {
    flex: 0 0 calc(50% - 30px);
  }
  
  .section-title {
    font-size: 14px;
  }
  
  .section-subtitle {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .on-this-week-section {
    padding: 60px 0;
  }
  
  .offer-item {
    flex: 0 0 calc(100% - 30px);
  }
  
  .section-title {
    font-size: 13px;
  }
  
  .section-subtitle {
    font-size: 26px;
  }
  
  .offer-title {
    font-size: 18px;
  }
  
  .offer-price {
    font-size: 20px;
  }
}