/* Top bar styles */
.top-bar {
  background-color: #d9d9d9;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
 
  top: 0;
   /* Higher z-index than main header */
}

.top-bar-content {
  width: auto;
  margin: 0 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.contact-info {
  display: flex;
  gap: 20px;
  font-size: 14px;
  color: #666;
}

.social-icons {
  display: flex;
  gap: 15px;
}

.social-icons img {
  width: 20px;
  height: 20px;
}

.social-icons a {
  display: block;
  transition: opacity 0.3s;
}

.social-icons a:hover {
  opacity: 0.7;
}

/* Main header styles */
.main-header {
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0px; /* Position below the top bar (10px padding + 1px border) */
  z-index: 1000;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.logo .main-logo {
  height: 40px;
  width: auto;
}

.main-navigation ul {
  display: flex;
  list-style: none;
  gap: 60px;
}

.main-navigation li a {
  text-decoration: none;
  color: #333;
  font-weight: 700;
  font-size: 16px;
  transition: color 0.3s;
  font-family: Open, sans-serif;
}

.main-navigation li a:hover {
  color: #6f9a37;
}

.header-icons {
  display: flex;
  gap: 20px;
}

.header-icons img {
  width: 24px;
  height: 24px;
  transition: opacity 0.3s;
}

.header-icons a:hover img {
  opacity: 0.7;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  margin: 0;
  padding: 0;
  
}

/* Header Styles */

.site-header {
  width: auto;
  background-color: #817b7b;
  padding: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-content {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  height: 20px;
  width: auto;
}

.header-button {
  background-color: #6f9a37;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.header-button:hover {
  background-color: #0056b3;
}

/* Splash Screen Styles */
#splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.5s ease-out;
}

#splash-screen.hidden {
  opacity: 0;
  pointer-events: none;
}

#splash-screen img {
  width: 200px;
  height: auto;
  margin-bottom: 30px;
  filter: brightness(0) invert(1);
}

 .envato-text {
  font-size: 70px;
  font-weight: 800px;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;


}

